src/backend/src/fixtures/lessons/orario/Orario Provvisorio 5 ore  v5-XML/settimanelezioni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="settimanelezioni"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element name="settimanelezioni">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="idlezione idfoglio idsettimana" primary="yes" unique="yes" clustered="no"/>
<od:index index-name="idlezione" index-key="idlezione" primary="no" unique="no" clustered="no"/>
<od:index index-name="idfoglio" index-key="idfoglio" primary="no" unique="no" clustered="no"/>
<od:index index-name="idsettimana" index-key="idsettimana" primary="no" unique="no" clustered="no"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="idlezione" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="idfoglio" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="idsettimana" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
